@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
	font-family: "Comfortaa";
}
.load-cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 106;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#labels {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 20px;
}

html, body {overflow: hidden}

@media screen and (orientation:portrait) {
	div.rotate-cover {
		display: flex;
	}
}

.rotate-cover {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 99;
	background-color: red;
	color: black;
	font-family: "Comfortaa";
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 3vw;
}

.error {
	width: 500px;
	min-height: 300px;
	position: absolute;
	background: rgba(0, 0, 0, .4);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 105;
	backdrop-filter: blur(5px);
	color: red;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Comfortaa";
	font-size: 20px;
	font-weight: bold;
	display: none;
}
.error.open {
	display: flex;
}

.error #btn {
	border: 2px solid gray;
	padding: 10px;
	display: inline-block;
	background: blue;
	color: #00ff00;
	cursor: pointer;
	border-radius: 9px;
	margin-top: 5px;
}

.error #err {
	margin-top: 10px;
	background: rgba(1, 1, 1, .2);
	font-size: 15px;
	overflow: auto;
	display: none;
}

.error #err.open {
	display: block;
}

#notice, #ping {
	position: absolute;
	font-size: 20px;
	font-family: "Comfortaa";
	z-index: 105;
	color: white;
	padding: 5px;
	background-color: black;
}
#notice {
	top: 10px;
	right: 10px;
}
#ping {
	bottom: 10px;
	left: 10px;
}
#start-panel {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	z-index: 104;
	transition: top .3s ease-in;
}

#notice:not([data-active = "true"]) {
	display: none;
}